.download-app {
  .container();
  padding: 25px 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  background-color: #1d2631;
}

.download-app__btn {
  display: block;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 13px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  border: 3px solid #ffffff;
  border-radius: 25px;
  box-sizing: border-box;
}

.download-app__list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 35px;
  font-size: 0;
}

.download-app__item {
  width: 48px;
  height: 57px;
  background-repeat: no-repeat;
  background-position: center;

  &--ios {
    background-image: url("../img/logo-apple.svg");
  }

  &--android {
    background-image: url("../img/logo-android.svg");
  }

  &--windows {
    background-image: url("../img/logo-microsoft.svg");
  }
}

@media (min-width: 700px) {
  .download-app {
    width: 300px;
    margin-left: 0;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    background-color: transparent;
  }
}
