.features-effect {
  display: none;
}

@media (min-width: 700px) {
  .features-effect {
    display: block;
    margin-bottom: 90px;
    padding: 0 40px;
    padding-top: 50px;
  }

  .features-effect__wrapper {
    padding-left: 50%;
  }

  .features-effect__title {
    padding-right: 120px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
  }

  .features-effect__href {
    color: #d22856;
  }
}

@media (min-width: 1200px) {
  .features-effect {
    margin-bottom: 70px;
    padding-bottom: 60px;
    font-size: 18px;
    line-height: 30px;
    background-color: #f2f2f2;
  }

  .features-effect__wrapper {
    .container();
    padding-left: 370px;
    box-sizing: border-box;
  }

  .features-effect__title {
    font-size: 30px;
    line-height: 30px;
  }

  .features-effect__title,
  .features-effect__content,
  .features-effect__href {
    //padding-left: 370px;
  }
}
