.features {
  padding: 0 20px;
  padding-top: 74px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  background: #f2f2f2 url("../../img/bg-triangle-white.svg") no-repeat top center;
  background-size: contain;
  text-align: center;
}

.features__wrapper {
  position: relative;
  .container();
  padding-bottom: 290px;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 280px;
    height: 280px;
    background: url("../../img/iphone-screen-mobile@1x.png") no-repeat center 2px;
  }
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .features__wrapper:after {
    background-image: url("../../img/iphone-screen-mobile@2x.png");
    background-size: 157px auto;
  }
}

.features__item {
  margin-bottom: 28px;
}

.features__title {
  margin: 0;
  margin-bottom: 9px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.features__content {
  margin: 0;
}

@media (min-width: 700px) {
  .features {
    padding: 0;
    text-align: left;
  }

  .features__wrapper {
    height: 100%;
    padding: 0;
    padding-left: 310px;
    box-sizing: border-box;

    &::after {
      width: 310px;
      height: 485px;
      background: url("../../img/iphone-screen-3-tablet@1x.png") no-repeat left bottom;
    }
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .features__wrapper:after {
      background-image: url("../../img/iphone-screen-3-tablet@2x.png");
      background-size: 268px auto;
    }
  }

  .features__item {
    margin-bottom: 31px;

    &:first-child {
      padding-top: 71px;
    }

    &:last-child {
      margin-bottom: 43px;
    }
  }
}

@media (min-width: 1200px) {
  .features {
    padding: 0;
    text-align: center;
    background-size: contain;

    &::before {
      display: none;
    }
  }

  .features__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;

    &::after {
      content: none;
    }
  }

  .features__item {
    position: relative;
    width: 300px;
    padding: 0;
    padding-top: 355px;

    &:first-child {
      padding-top: 355px;
    }

    &::before {
      content: '';
      position: absolute;
      top: -4px;
      left: 0;
      width: 300px;
      height: 355px;
    }

    &:nth-child(1):before {
      background: url("../../img/iphone-screen-1-desktop@1x.png") no-repeat 4px 0px;
    }

    &:nth-child(2):before {
      background: url("../../img/iphone-screen-2-desktop@1x.png") no-repeat 7px 0px;
    }

    &:nth-child(3):before {
      background: url("../../img/iphone-screen-3-desktop@1x.png") no-repeat 7px 0px;
    }
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .features__item {
      &:nth-child(1):before {
        background-image: url("../../img/iphone-screen-1-desktop@2x.png");
        background-size: 292px auto;
      }

      &:nth-child(2):before {
        background-image: url("../../img/iphone-screen-2-desktop@2x.png");
        background-size: 292px auto;
      }

      &:nth-child(3):before {
        background-image: url("../../img/iphone-screen-3-desktop@2x.png");
        background-size: 292px auto;
      }
    }
  }

  .features__title {
    margin-bottom: 24px;
    padding: 0 30px;
    font-size: 30px;
    line-height: 30px;
  }

  .features__content {
    padding: 0 30px;
    font-size: 18px;
    line-height: 30px;
  }
}
