.features {
  background: url("../img/bg-triangle-white.svg") no-repeat top center, #f2f2f2 url("../img/iphone-screen-mobile@1x.png") no-repeat bottom center;
  background-size: contain;
  border: 1px solid orangered;
}
