.form {

}

.form__block {
  padding: 33px 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  text-align: left;

  &:nth-child(2n) {
    background-color: #f2f2f2;
  }

  &--name {
    margin-bottom: 8px;
  }

  &--checkbox {
    padding-top: 38px;
    padding-bottom: 42px;
  }

  &--info {
    margin-bottom: 7px;
  }

  &--radio {
    padding-top: 38px;
    padding-bottom: 42px;
  }

  &--reviews {
    padding-bottom: 48px;
  }
}

.form__block-wrapper {
  display: flex;
  flex-direction: column;
}

.form__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__name-input {
  margin-left: 22px;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
}

.form__input {
  width: 100%;
  padding: 15px 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;

  &:hover {
    border-color: #283645;
  }

  &:active {
    border-color: #d22856;
  }
}

.form__input-wrapper {
  width: 100%;
  box-sizing: border-box;
}

.form__fieldset {
  display: flex;
  padding: 0;
  border: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

.form__option-label {
  position: relative;
  margin-bottom: 47px;
  height: 35px;
  padding-left: 67px;

  &:last-child {
    margin-bottom: 0;
  }

  &--checkbox::before {
    content: '';
    position: absolute;
    left: -3px;
    top: -3px;
    width: 35px;
    height: 35px;
    background: #ffffff;
    border: 2px solid #e5e5e5;
    cursor: pointer;
  }

  &--radio {
    margin-bottom: 40px;
  }

  &--radio::before {
    content: '';
    position: absolute;
    left: -2px;
    top: -4px;
    width: 35px;
    height: 35px;
    background: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    cursor: pointer;
  }

  &--radio:hover::before,
  &--checkbox:hover::before {
    border-color: #283645;
  }

  &--radio:active::before,
  &--checkbox:active::before {
    border-color: #d22856;
  }
}

input[type="checkbox"]:checked + .form__option-label--checkbox::before {
  background: #ffffff url("../../img/icon-yes-red.svg") no-repeat center;
}

input[type="radio"]:checked + .form__option-label--radio::after {
  content: '';
  position: absolute;
  left: 10px;
  top: 8px;
  width: 15px;
  height: 15px;
  background: #d22856;
  border-radius: 50%;
}

.form__legend {
  padding: 0 20px;
  margin-bottom: 43px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  text-align: center;
  text-transform: uppercase;

  &--info {
    display: none;
  }

  &--radio {
    margin-bottom: 39px;
  }

  &--reviews {
    margin-bottom: 9px;
    line-height: 30px;
  }
}

.form__block textarea {
  width: 100%;
  height: 200px;
  padding: 18px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid #e5e5e5;
  resize: none;
  box-sizing: border-box;
}

.form__block-submit {
  margin-bottom: 15px;
}

.form__btn {
  width: 280px;
  margin-bottom: 35px;
  padding: 17px 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2aab6d;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;

  &:hover {
    background-color: #1c9b5e;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

.form__info {
  display: block;
  line-height: 30px;
  color: #283645;
  text-transform: uppercase;

  &--hidden {
    display: none;
  }
}

.form__star {
  color: #d22856;
}

@media (min-width: 700px) {
  .form {
    .container();
    display: flex;
    flex-direction: column;
  }

  .form__block {
    margin-bottom: 50px;
    padding: 0;

    &:nth-child(2n) {
      background-color: #ffffff;
    }

    &--name {
      order: -4;
      margin-bottom: 64px;
    }

    &--checkbox {
      order: -1;
    }

    &--info {
      order: -2;
    }

    &--radio {
      order: -3;
    }

    &--reviews {
      margin-bottom: 68px;
    }
  }

  .form__block-submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
  }

  .form__label {
    flex-direction: row;
    align-items: center;
    margin-bottom: 52px;

    &--info {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 22px;
    }
  }

  .form__name-input {
    margin-right: 20px;
    margin-left: 0;

    &--info {
      order: 1;
      margin-left: 20px;
    }
  }

  .form__input {

    &--info {
      position: relative;
      margin-bottom: 10px;
      padding-right: 65px;
    }
  }

  .form__input-wrapper {
    position: relative;

    &--phone::after,
    &--email::after {
      content: '';
      position: absolute;
      right: 1px;
      top: 2px;
      width: 60px;
      height: 60px;
      background: #e5e5e5;
    }

    &--phone::after {
      background: #e5e5e5 url("../../img/icon-phone.svg") no-repeat center;
    }

    &--email::after {
      background: #e5e5e5 url("../../img/icon-mail.svg") no-repeat center;
    }
  }

  .form__fieldset {
    padding: 50px 60px;
    border: 2px solid #e5e5e5;

    &--radio {
      position: relative;
      padding-top: 56px;
      padding-bottom: 54px;
    }

    &--info {
      padding: 32px 55px;
      padding-bottom: 20px;
    }

    &--checkbox {
      padding-top: 44px;
    }

    &--reviews {
      padding: 30px 55px;
      padding-bottom: 50px;
    }
  }

  .form__legend {
    margin: 0;
    padding: 0 20px;
    line-height: 30px;

    &--info {
      display: block;
    }

    &--radio {
      position: absolute;
      top: -15px;
      left: 126px;
      background-color: #ffffff;
    }
  }

  .form__option-label {
    padding-left: 55px;
  }

  .form__block textarea {
    height: 193px;
  }

  .form__btn {
    width: 300px;
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .form {
    .container();
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .form__block {
    width: 100%;

    &--name {
      width: 435px;
      margin-top: 5px;
      margin-bottom: 50px;
    }

    &--radio {
      width: 435px;
    }

    &--reviews {
      margin-bottom: 66px;
    }
  }

  .form__legend {


    &--radio {
      width: 320px;
      left: 32px;
    }
  }

  .form__block-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &--checkbox {
      flex-direction: column;
      justify-content: flex-start;
      height: 120px;
    }
  }

  .form__fieldset {

    &--radio {
      padding-left: 76px;
    }

    &--info {
      padding-top: 28px;
      padding-bottom: 7px;
    }

    &--checkbox {
      padding-right: 0;
    }

    &--reviews {
      padding: 30px 56px;
      padding-bottom: 43px;
    }
  }

  .form__block textarea {
    height: 128px;
  }

  .form__label {
    margin-bottom: 52px;

    &--info {
      display: inline-flex;
      width: 375px;
      margin: 0;
      margin-right: 57px;
    }

    &--info:last-child {
      margin-right: 0;
    }
  }

  .form__option-label {


    &--checkbox {
      width: 210px;
      margin-bottom: 46px;
      margin-right: 46px;
    }

    &--checkbox:nth-of-type(2n) {
      margin-bottom: 0;
    }
  }

  .form__block-submit {
    width: 100%;
    margin-bottom: 0;
  }

  .form__info--hidden {
    display: inline;
  }
}
