.gallery-post {
  margin-bottom: 20px;
}

.gallery-post__img {
  margin: 0 20px;

  &--panorama {
    margin: 0;
  }
}

.gallery-post__img img {
  display: block;
  width: 100%;
  height: auto;
}

.gallery-post__description {
  margin: 0 20px;
  padding: 19px 0;
  padding-left: 18px;
  background-color: #f2f2f2;
  text-align: left;
}

.gallery-post__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.gallery-post__time {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.gallery-post__content {
  margin: 0;
  margin-bottom: 8px;
}

.gallery-post__like {
  position: relative;
  padding-left: 30px;
  font-size: 12px;
  line-height: 24px;
  color: #d22856;
  text-transform: uppercase;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    background: url("../../img/icon-heart.svg") no-repeat center;
  }
}

@media (min-width: 700px) {
  .gallery-post__img {
    margin: 0;

    &--panorama {
      margin: 0;
    }
  }

  .gallery-post__description {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 25px;
    min-height: 155px;
    box-sizing: border-box;

    &--panorama {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-start;
      min-height: 120px;
      margin: 0 40px;
    }
  }

  .gallery-post__content {

    &--panorama {
      order: 1;
    }
  }

  .gallery-post__like {
    margin-top: auto;
    padding-left: 0;
    padding-right: 30px;

    &--panorama {
      margin: 0;
    }

    &::before {
      left: 92%;
      top: 3px;
    }

    &--panorama::before {
      left: 100px;
      top: 3px;
    }
  }
}

@media (min-width: 1200px) {
  .gallery-post {
    margin-bottom: 50px;
  }

  .gallery-post__description {

    &--panorama {
      .container();
    }
  }
}
