.inner-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  text-align: center;
}

.inner-footer__logo {
  padding-bottom: 35px;
}

.inner-footer__logo-svg {
  &:hover {
    fill: #d22856;
  }

  &:active {
    opacity: 0.3;
  }
}

.inner-footer__logo-desktop {
  display: none;
}

.inner-footer__social {
  display: flex;
  width: 175px;
  margin-bottom: 31px;
  font-size: 0;
}

.inner-footer__social-btn {
  width: 44px;
  height: 44px;
  margin-right: 13px;
  border: 3px solid #e9ebec;
  border-radius: 50%;

  &:last-child {
    margin-right: 0;
  }

  &--tw {
    background: url("../../img/icon-twitter.svg") no-repeat center;
  }

  &--fb {
    background: url("../../img/icon-facebook.svg") no-repeat center;
  }

  &--yt {
    background: url("../../img/icon-youtube.svg") no-repeat center;
  }

  &:hover {
    border-color: #283645;
  }

  &:active {
    opacity: 0.1;
  }
}

.inner-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
}

.inner-footer__copyright a {
  margin-left: 12px;
  margin-top: 6px;
}

.inner-footer__copyright-logo {
  &:hover {
    fill: #283645;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: 700px) {
  .inner-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 127px;
    padding: 0 40px;
  }

  .inner-footer__logo {
    padding-bottom: 0;
    margin-bottom: 8px;
  }

  .inner-footer__social {
    width: 195px;
    margin-bottom: 0;
  }

  .inner-footer__social-btn {

  }
}

@media (min-width: 1200px) {
  .inner-footer {
    .container();
    justify-content: flex-start;
    min-height: 225px;

    &--photo {
      padding-top: 29px;
    }
  }

  .inner-footer__logo {
    margin-bottom: 39px;
    margin-right: 240px;
  }

  .inner-footer__logo-desktop {
    display: inline;
  }

  .inner-footer__logo-tablet {
    display: none;
  }

  .inner-footer__social {
    margin-bottom: 25px;
    margin-right: 210px;
  }

  .inner-footer__social-btn {
    margin-right: 10px;
  }

  .inner-footer__copyright {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 18px;
  }
}
