.main-header {
  color: #ffffff;
  background: #1d2631 url("../img/bg-back-mobile@1x.jpg") no-repeat top center;
  border: 1px solid red;
}

.main-header__top {
  min-height: 460px;
  background: url("../img/iphone-hand-mobile@1x.png") no-repeat center;
}

.main-header__logo {
  margin: 0;
}
