.main-footer {
  text-align: center;
}

.main-footer__title {
  padding: 40px 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
  color: #283645;
}

.main-footer__map {
  background: #e8e5df url("../img/bg-map-mobile@1x.png") no-repeat;
}

.main-footer__bottom {
  display: none;
}

@media (min-width: 700px) {
  .main-footer__title {
    padding: 50px 120px;
    font-size: 40px;
    line-height: 52px;
  }

  .main-footer__map {
    height: 380px;
  }

  .main-footer__bottom {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .main-footer__title {
    padding: 70px 240px;
    font-size: 50px;
    line-height: 65px;
  }
}
