.main-nav {
  position: relative;
  margin-bottom: -64px;
  background-color: #283645;
  border: 1px solid blue;
}

.main-nav__control {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  //background-color: rgba(29, 38, 49, 0.3);
  box-shadow: 0 1px #000000;
}

.main-nav__list {
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  background-color: #283645;
  text-align: center;
  text-transform: uppercase;
  list-style: none;
}

.main-nav__list a {
  display: block;
  padding: 16px 0;
  color: #ffffff;
  text-decoration: none;
  box-shadow: 0 1px #000000,
        inset 0 2px rgba(255, 255, 255, 0.15);
}
