.main-nav {
  border: 1px solid blue;
}

.main-nav__list {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  list-style: none;
}

.main-nav__list a {
  color: #ffffff;
  text-decoration: none;
}
