.main-header {
  color: #ffffff;
  text-align: center;
}

.main-header__bottom {
  min-height: 237px;
  background: #1d2631 url("../img/bg-back-mobile@1x.jpg") no-repeat top center;

  &--index::before {
    content: '';
    display: block;
    width: 320px;
    height: 461px;
    margin: 0 auto;
    background: transparent url("../img/iphone-hand-mobile@1x.png") no-repeat left bottom;
  }
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .main-header__bottom {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 700px auto;

    &--index::before {
      background-image: url("../img/iphone-hand-mobile@2x.png");
      background-size: 258px auto;
    }
  }
}

.main-header__logo {
  width: 74px;
  height: 24px;
  margin: 0;
  cursor: pointer;
}

.main-header__logo-svg {
  position: relative;
  top: -17px;
  left: -72px;
  fill: #ffffff;

  &:hover {
    fill: #d22856;
  }

  &:active {
    fill: rgba(255, 255, 255, 0.3);
  }
}

.main-header__svg-desktop,
.main-header__svg-tablet {
  display: none;
}

.main-header__title {
  width: 230px;
  margin: 0 auto;
  padding-top: 95px;
  padding-bottom: 20px;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;

  &--index {
    display: none;
  }
}

@media (min-width: 700px) {

  .main-header__bottom {
    min-height: 440px;
    background: #1d2631 url("../img/bg-back-tablet@1x.jpg") no-repeat top center;

    &--index {
      position: relative;
      z-index: 1;
      min-height: 710px;
      padding: 0 40px;
      padding-bottom: 20px;
    }

    &--index::before {
      position: absolute;
      left: 40px;
      right: 40px;
      bottom: 0;
      z-index: -1;
      .container();
      height: 730px;
      background: url("../img/iphone-hand-tablet@1x.png") no-repeat bottom;
    }
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .main-header__bottom {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;

      &--index::before {
        background-image: url("../img/iphone-hand-tablet@2x.png");
        background-size: 700px auto;
      }
    }
  }

  .main-header__logo {
    width: 146px;
    height: 55px;
  }

  .main-header__logo-svg {
    position: static;
  }

  .main-header__svg-tablet {
    display: inline;
  }

  .main-header__wrapper {
    .container();
  }

  .main-header__title {
    width: 480px;
    margin: 0 auto;
    padding-top: 180px;
    font-size: 50px;
    line-height: 60px;

    &--index {
      display: block;
      width: 200px;
      margin-left: 0;
      margin-bottom: 30px;
      padding: 0 50px;
      padding-top: 201px;
      font-size: 40px;
      line-height: 49px;
    }
  }
}

@media (min-width: 1200px) {
  .main-header__wrapper {
    .container();
  }

  .main-header__bottom {
    min-height: 395px;
    background: #1d2631 url("../img/bg-back-desktop@1x.jpg") no-repeat top center;

    &--index {
      min-height: 855px;
      padding: 0 130px;
    }

    &--index::before {
      .container();
      left: 0;
      right: 0;
      height: 850px;
      background: url("../img/iphone-hand-desktop@1x.png") no-repeat 16px bottom;
    }
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .main-header__bottom {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2560px auto;

      &--index::before {
        background-image: url("../img/iphone-hand-desktop@2x.png");
        background-size: 1050px auto;
      }
    }
  }

  .main-header__svg-tablet {
    display: none;
  }
  .main-header__svg-desktop {
    display: inline;
  }

  .main-header__title {
    padding-top: 174px;

    &--index {
      width: 240px;
      margin-bottom: 50px;
      padding-top: 220px;
      padding-left: 30px;
      padding-right: 30px;
      font-size: 50px;
      line-height: 60px;
    }
  }

  .main-header__title--form {
    width: 820px;
    padding-top: 176px;
  }
}
