.page-photo {
  text-align: center;
}

.page-photo__promo {
  margin-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}

@media (min-width: 700px) {
  .page-photo__promo {
    margin-bottom: 75px;
    padding-top: 55px;
    padding-left: 85px;
    padding-right: 85px;
    font-size: 18px;
  }
}
