.photo-editor {
  padding-top: 20px;
  background-color: #f2f2f2;
}

.photo-editor__img {
  padding: 0 20px;
}

.photo-editor__img img {
  width: 100%;
  height: auto;
}

.photo-editor__btn {
  padding: 40px 0;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}
