.reviews {
  .container();
  margin-bottom: 33px;
  padding: 0 20px;
  padding-top: 42px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-align: center;
}

.reviews__item {
  margin-bottom: 24px;

  &:nth-child(n+2) {
    display: none;
  }
}

.reviews__name {
  margin: 0;
  margin-bottom: 13px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.reviews__age {
  display: none;
  margin: 0;
}

.reviews__content {
  margin: 0;

  &::before {
    content: open-quote;
  }

  &::after {
    content: close-quote;
  }
}

.reviews__slide {
  display: none;
}

.reviews__control {
  font-size: 0;
}

.reviews__control-btn {
  width: 12px;
  height: 12px;
  margin-right: 13px;
  padding: 0;
  background-color: rgba(40, 54, 69, 0.3);
  border: 3px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background-color: rgba(40, 54, 69, 0.6);
  }

  &:active {
    background-color: rgba(40, 54, 69, 0.1);
  }

  &--active {
    background-color: #ffffff;
    border: 3px solid #283645;
  }
}

@media (min-width: 700px) {
  .reviews {
    .container();
    margin-bottom: 10px;
    padding: 0 40px;
  }

  .reviews__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 26px;
  }

  .reviews__name {
    margin: 0;
    font-size: 20px;
  }

  .reviews__age {
    display: block;
    margin: 0;
  }

  .reviews__content {
    margin-bottom: 36px;
    font-size: 18px;
    order: -1;
  }
}

@media (min-width: 1200px) {
  .reviews {
    position: relative;
    .container();
    padding-top: 114px;
    background: url("../../img/icon-quotes.svg") no-repeat top center;
  }

  .reviews__item {
    margin-bottom: 40px;
    padding: 0 130px;
  }

  .reviews__name {
    font-size: 24px;
  }

  .reviews__age {
    font-size: 18px;
  }

  .reviews__content {

    &::before,
    &::after {
      content: '';
    }
  }

  .reviews__slide {
    position: absolute;
    bottom: 116px;
    display: block;
    width: 25px;
    height: 45px;
    font-size: 0;
    border: none;
    cursor: pointer;
    opacity: 0.3;

    &--prev {
      left: 39px;
      background: transparent url("../../img/icon-review-arrow-left.svg") no-repeat center;
    }

    &--next {
      right: 39px;
      background: transparent url("../../img/icon-review-arrow-right.svg") no-repeat center;
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }
  }

  .reviews__control {
    display: none;
  }
}
